/* html, body {
    height: 100%;
}

body {
    background-color: beige;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 100px;
    margin-bottom: 200px;
    font-family: "georgia", serif;
    border-bottom: 15px solid black;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    background-color: green;
    color: white;
    padding: 15px 100px;
    font-size: 60px;
    font-family: papyrus, fantasy;
    border: 15px solid black;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 5px #aaaaaa;
}

button:hover {
    background-color: red;
}

*/

