html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamecard {
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 5px gray;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid burlywood;
}

.heading {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 30px;
}

p {
    font-size: 17px;

}

.theResults {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;

}

button {
    background-color: mediumseagreen;
    color: white;
    font-size: 40px;
    font-family: papyrus, fantasy;
    padding: 25px;
    border: 7px solid black;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: firebrick;
}

/*


button:hover {
    background-color: red;
}

*/

